{% extends "ActEnvmainBundle::layout.html.twig" %}

{% block content %}

<section id="content" class="normalpage">
<section id="page">
<section id="fourcols">
<header class="subhead">
<h2>{% block subtitle "Et si vous aviez un trésor caché dans vos déchets...?" %}</h2>
</header>
<div class="clear"></div>

</section>

{% block form%}
{% endblock %}

</section>
</section>
{% endblock %}
