{% extends "ActEnvmainBundle:Main:inside.html.twig" %}

{% block title "Diagnostic, Optimiastion et Exploitation des déchets" %}
{% block subtitle "Que Proposons-nous ?" %}

{% block form %}

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/depot_interdit.jpg') }}" width="238" height="148"></div>
<section class="entry">
<h3>
Expertise et diagnostic d’optimisation de la gestion des déchets
</h3>
<p>
<ul class="ligreen">
<li><span class="defaultFontColor">
Prestations rémunérées selon performance ou forfaitaires et subventionnées par l’
<a title="Agence de l'Environnement et de la Maîtrise de l'Energie (nouvelle fenêtre)" href="http://www.ademe.fr" target="_blank">ADEME</a>.
</span></li>
<li><span class="defaultFontColor">Baisse constatée de la facture déchets annuelle jusqu’à 80%.</span></li>
<li><span class="defaultFontColor">Détermination des propriétés physico-chimique des déchets et de leur possibilité de recyclage/valorisation.</span></li>
<li><span class="defaultFontColor">Élaboration et conduite d'essais laboratoire afin d'etudier leurs possibilités d'utilisation de vos déchets comme matière première au sein d'autres industries.</span></li>
<li><span class="defaultFontColor">Développement de la chaine d'exploitation (collecte interne, conditionnement, stockage et logistique).</span></li>
<li><span class="defaultFontColor">Évaluation technico-économique des résultats obtenus.</span></li>
</ul>
</p>
</section>
<div class="clear"></div>
</article>

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/depot_interdit.jpg') }}" width="238" height="148"></div>
<section class="entry">
<h3>Exploitations</h3>

<p>
<ul class="ligreen">
<li><span class="defaultFontColor">Achats/ventes de déchets (là où les prestataires généralistes enfouissent, nous arrivons souvent à racheter les déchets).</span></li>
<li><span class="defaultFontColor">Collecte.</span></li>
<li><span class="defaultFontColor">Recyclage par traitement ou affinage.</span></li>
<li><span class="defaultFontColor">Recyclage par réutilisation.</span></li>
<li><span class="defaultFontColor">Produits déclassés / Déstockage.</span></li>
<li><span class="defaultFontColor">Négoce de produits finis et matières premières déclassées, invendus ou arrêt et ratés de fabrication (tout produit pouvant être utilisé en milieu professionnel, soit dans sa fonction initiale ou de matière détournée, discrétion commerciale assurée).</span></li> 
</ul>
</p>
</section>
<div class="clear"></div>
</article>
{% endblock %}
