<!DOCTYPE html>
<html lang="fr-FR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{{ asset('bundles/actenvactualite/css/admin.css') }}" type="text/css" media="all" />
<link rel="stylesheet" href="{{ asset('bundles/actenvmain/css/form.css') }}" type="text/css" media="all" />
<!--link rel="stylesheet" href="http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css"-->
<title>{% block title %}Actes Environnement Admin{% endblock %}</title>
<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
<div id="container">
<header>
</header>

<nav id="mainnav">
</nav>
<h1>Centre de controle du monde</h1>

            {% block content %}
            {% endblock %}

<div id="main">
</div>
<footer>
</footer>
</div>
</body>
</html>
