{% extends "ActEnvactualiteBundle:ActualiteAdmin:layout_admin.html.twig" %}

            {% block content %}

<h2>Saisir et publier une nouvelle Actualité</h2>

<form action="{{ path('actualite_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Créer</button>
    </p>
</form>

    {% include 'ActEnvactualiteBundle:ActualiteAdmin:retour_list.html.twig' %}

            {% endblock %}
