<h1>Saisir et publier une nouvelle Actualité</h1>

<form action="{{ path('actualite_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit">Créer</button>
    </p>
</form>

<ul class="record_actions">
    {% include 'ActEnvactualiteBundle:ActualiteAdmin:retour_list.html.twig' %}
</ul>
