{% extends "ActEnvmainBundle:Main:inside.html.twig" %}

{% block title "A chaque déchet, sa solution" %}
{% block subtitle "Actualité" %}

{% block form %}

<article class="post">
<div class="imageholder">
  <img src="{{ asset('bundles/actenvmain/images/depot_interdit.jpg') }}" width="238" height="148"></div>
<section class="entry">
<h3>Le renouveau des matières</h3>
<p>
Même si le gain financier n’est pas toujours immédiat, la valorisation des déchets permet une rentabilité à terme. Elle crédite votre entreprise d’une bonne image tant en interne qu’en externe.
</p>
<p>
<strong>Actes environnement</strong> met à votre service son expérience et sa méthodologie pour rechercher, en collaboration avec votre équipe technique, les moyens internes nécessaires à la diminution de la production de déchets ainsi que les solutions externes destinées à valoriser ou recycler les résidus de fin de process.
</p>
</section>
<div class="clear"></div>
</article>

{% endblock %}
