{% extends "ActEnvmainBundle:Main:inside.html.twig" %}

{% block title "A chaque déchet, sa solution" %}
{% block subtitle "Actualité" %}

{% block form %}

{% for actualite in actualites %}
<article class="post">
<div class="imageholder">

{% if actualite.getWebPath%}
<img src="{{ actualite.getWebPath | apply_filter('actualite') }}" width="238" height="148"></div>
{% else %}
<img src="{{ asset('bundles/actenvmain/images/depot_interdit.jpg') | apply_filter('actualite') }}" width="238" height="148"></div>
{% endif %}

<section class="entry">
<h3>{{ actualite.title }}</h3>
{{ actualite.text }}
</section>
<div class="clear"></div>
</article>
{% endfor %}

{% endblock %}
